/*DOCUMENTO CSS*/

	body {
		margin: 0;
		padding: 0;
		border: 0;
		font-family:Century Gothic; 
		background-color:#D9ADAD;
	}

	header {
		background: #A6535A;
		height: 100px;
		padding-top: 25px;
		color: #8C0303;
	    text-align: center;
	}

	main {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-around;
		padding-top: 25px;
		color: #8C1B39;
		flex-wrap: wrap;
		align-content: center;
	}

	.box {
		text-align: center;
		color: #8C0303;
		width:250px;
		height:500px;
		align-content: center;
		background-color:#D98B99;
		border-radius: 30px;
		margin: 10px;
		
	}

	.box:hover{
		box-shadow: 6px 6px 10px #a4a4a4;
	}
	.box h2 {
		margin: 0 0 10px 0;
		padding: 0;
		font-size: 20px;
	}
	.box figure {width: 250px
	height: 200px;
	background-color: e6e6e6;
	margin: 0;
	padding: 0;
}
.box p{
padding: 15px;
}
footer {
	background-color: #cf97a0;
	height: 70px;
	padding-top: 10px;
	color: darkred;
	text-align: center;

}